{% extends 'base.html' %}
{% load static %}

{% block title %}
    reset password done Page
{% endblock title %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/myCss-fm.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock links %}


{% block content %}
<div class="container flex-ctr-clm">

    <h1>Reset your password</h1>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure you've entered the
    address you registered with.</p>
        
</div>

{% endblock content %}


{% block scripts %}
    
{% endblock scripts %}


