{% extends 'base.html' %}
{% load static %}


{% block title %}
    Reset Password Page
{% endblock title %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/myCss-fm.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock links %}


{% block content %}
<div class="container flex-center">
    <form action="" method="post" class="flex-str-clm">

        
        <h1>Forgotten your password?</h1>
        <p>Enter your e-mail address to obtain a new password.</p>
        
        {% csrf_token %}
        {{ form.as_p }}

        {% if form.email.errors %}
            <p style="color: red;">{{ form.email.errors }}</p>
        {% endif %}
    
        <!-- <label for="email">Email</label>
        <input type="email" name="email" id="email"> -->
    
        <input type="submit" value="Send Email">

    </form>
    
</div>

{% endblock content %}