{% extends 'base.html' %}
{% load static %}

{% block title %}
    reset password done Page
{% endblock title %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/myCss-fm.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock links %}


{% block content %}
<div class="container flex-ctr-clm">

    <h1>Reset your password</h1>
    {% if validlink %}

    <p>Please enter your new password twice:</p>
    <form action="." method="post">

    {{ form.as_p }}
    {% csrf_token %}

    <input type="submit" value="Change my password" />
    </form>
    
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

        
</div>

{% endblock content %}


{% block scripts %}
    
{% endblock scripts %}


