{% extends 'base.html' %}
{% load static %}

{% block title %}
    reset password done Page
{% endblock title %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/myCss-fm.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock links %}


{% block content %}
<div class="container flex-ctr-clm">

    <h1>Password set</h1>
    <p>Your password has been set. You can <a href='{% url "login" %}'>log in now</a></p>

        
</div>

{% endblock content %}


{% block scripts %}
    
{% endblock scripts %}


